 <div class="media">
          <%= render partial: 'votes/voter', locals: {vote: Vote.find_or_initialize_by(post: post, user: current_user) } %>
         <div class="media-body">
           <h4 class="media-heading">
            <%= link_to (render_as_markdown post.title), [post.topic, post] %>
           </h4>
          <small>
             <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
             submitted <%= time_ago_in_words(post.created_at) %> ago by
             <%= post.user.name %><br>
             <%= post.comments.count %> Comments
             <%= image_tag(post.image.tiny.url) if post.image? %>
           </small>
         </div>
       </div>